<settings>
    <servers>
  <server>
    <id>codeartifact</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
    <profiles>
  <profile>
    <id>default</id>
    <repositories>
      <repository>
        <id>codeartifact</id>
        <url>https://gamedoora-727903310356.d.codeartifact.us-east-1.amazonaws.com/maven/Gamedoora/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
      <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings> 
